<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Contador de personas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="container">

        <h1>Contador de personas</h1>

        <div class="sensor" id="people">0</div>
        <div class="circle" id="circle"></div>
        <div id="alarma" class="alarm off">
            Alarma desactivada
        </div>

        <div class="buttons">
            <button class="stop" onclick="borrarContador()">Borrar contador</button>
        </div>

    </div>

    <script src="https://cdn.socket.io/4.8.3/socket.io.min.js" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>